<h1>NEW Transaction </h1>

<%= form_with model: @entity_transaction do | form|%>
    <%= form.text_field :name%>
    <%= form.text_field :amount%>
    <%= form.collection_select :category_ids, current_user.categories.order(:name), :id, :name, {}, { class: "input", multiple: true } %>
    <%= form.submit %>
<%end%>